body { background-image: url(/Portals/_default/skins/AgapeBlue/images/BackgroundRepeat.gif) ; background-repeat: repeat; background-position: top left;  }
/*.main { background-color: White ;}*/

.content {background-color: White ;}
.header {background-color: White ;}
.content_footer .logo {position:absolute; z-index:0; right:8px; top:8px; display: none; height: 100}

.menu li a {color:#fff; padding:10px; text-decoration:none; background-color:#0d3163;}
.menu li a:hover {background-color:#4a6ea3;}
#ssoHelp {overflow:visible; position:absolute; right:25px; z-index:100; background-color:#0d3163;}
#ssoHelp:hover {background-color:#4a6ea3;}
.content_footer
{
	background-image: url(GetLogo.aspx)    ;
	background-repeat: no-repeat ;
	background-position: right top ;
	
	height: 150px; 
}
.notes
{
	margin-top: 90px;	
}
.ssoHelp_content_border {border:1px solid #333; border-top-width:0;}
.ssoHelp_popup_content {border:6px solid #0d3163; background-color:#e5e5e5; font-size:11px;}
