<?xml version="1.0" encoding="utf-8" ?>
<AnalyticsEngineConfig>
	<Engines>
		<AnalyticsEngine>
			<EngineType>DotNetNuke.Services.Analytics.GoogleAnalyticsEngine, DotNetNuke</EngineType>
			<ElementId>Head</ElementId>
			<InjectTop>False</InjectTop>
			<ScriptTemplate>
				<![CDATA[     

		  ]]>
			</ScriptTemplate>
		</AnalyticsEngine>
	</Engines>
</AnalyticsEngineConfig>
