.bar {
	width: 100%;
	text-align: center; /* To center header in older IE */
}

.centeredbox {
    width: 975px;
    margin-left: auto;
    margin-right: auto;
}

#bar1 {
    background-image: url('../images/HeaderBkg.png');
	background-repeat: repeat-x;
}

.bar1 {
	height: 160px;
}

#bar2 {
    min-height: 34px;
    background: #3A8BC2;
}

#bar3 {
    background: white;
    min-height: 400px;
}

#bar5 {
	background: #F5F5F5 url('../images/FooterTop.png') repeat-x;
	height: 8px;
}

#bar6, #bar8 {
	background: #F5F5F5;
	color: #5f5f5f;
}

#bar7 {
	background: url('../images/FooterBandPatt.png') repeat;
}

#bar1 .centeredbox {
	width: 1150px;
}