.bar {
	width: 100%;
}

.centeredbox {
    width: 100%;
}

.bar1 {
	height: 160px;
}

#bar2 {
    min-height: 34px;
    background: #3A8BC2;
}

#bar3 {
    background: white;
    min-height: 400px;
}

#bar5 {
	background: #F5F5F5 url('../images/FooterTop.png') repeat-x;
	height: 8px;
}

#bar6, #bar8 {
	background: #F5F5F5;
	color: #5f5f5f;
}

#bar7 {
	background: url('../images/FooterBandPatt.png') repeat;
}

@media screen and (min-width: 1024px) { /*computer mode*/
    .centeredbox {
        max-width:1300px;
        margin-left:auto;
        margin-right:auto;
        position:relative;
    }
}