.centeredbox {
    width: 100%;
    position:relative;
}

.bar {
	width: 100%;
	position: relative;
}

#bar1 {
	height: 80px;
}

#bar2{
    background: #dce2e3;
}
#bar3 img{
    max-width: 100%;
}
#bar4{
    background: #dce2e3;
}

#bar7 {
background: repeating-linear-gradient(110deg, #FFFFFF, #e4e4e4 4px, #f5f5f5 4px);
}

#bar8 {
	background: #F5F5F5;
	color: #5f5f5f;
}

@media screen and (min-width: 768px) { /*tablet mode*/
    #bar1 {
        height: 160px;
    }
}
@media screen and (min-width: 1024px) { /*computer mode*/
    .centeredbox {
        max-width:1300px;
        margin-left:auto;
        margin-right:auto;
    }
}