#footer1, #footer2, #footer3 {
    font-size: 12px;
    font-weight: normal;
    font-family: Open Sans;
    color: #5f5f5f;
}

#footer2 {
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#footer2 span {
    color: #0e71b4;
    text-transform: uppercase;
    font-size: 14px;
}

#footer2 #newsletter,
#footer2 #facebook,
#footer2 #youtube,
#footer2 #instagram,
#footer2 #linkedin,
#footer2 #contact {
    border-radius: 3px;
    border-style: none;
    background-color: #0e71b4;
    width: 46px;
    height: 41px;
}

#footer2 #newsletter {
    background: #0e71b4 url('../images/newsletter.svg') no-repeat center center;
    background-size: 30px 30px;
    margin: 0 0 0 20px;
}

#footer2 #newsletter:hover {
    background-color: #ABACAE;
}

#footer2 #facebook {
    background: #0e71b4 url('../images/facebook.svg') no-repeat center center;
    background-size: 30px 30px;
    margin: 0 0 0 5px;
}

#footer2 #facebook:hover {
    background-color: #ABACAE;
}
#footer2 #instagram:hover {
    background-color: #ABACAE;
}
#footer2 #linkedin:hover {
    background-color: #ABACAE;
}

#footer2 #contact:hover {
    background-color: #ABACAE;
}

#footer2 #youtube {
    background: #0e71b4 url('../images/youtube.svg') no-repeat center center;
    background-size: 30px 30px;
    margin: 0 0 0 5px;
}
#footer2 #instagram {
    background: #0e71b4 url('../images/instagram.svg') no-repeat center center;
    background-size: 30px 30px;
    margin: 0 0 0 5px;
}
#footer2 #linkedin {
    background: #0e71b4 url('../images/linkedin.svg') no-repeat center center;
    background-size: 30px 30px;
    margin: 0 0 0 5px;
}


#footer2 #contact {
    background: #0e71b4 url('../images/speech-bubble.svg') no-repeat center center;
    background-size: 32px 32px;
    margin: 0 0 0 5px;
}

#footer2 #youtube:hover {
    background-color: #ABACAE;
}

#footer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer3 div {
    vertical-align: middle;
}


#footer3 .Normal, #footer3 a {
    color: #5f5f5f;
    font-size: 12px;
    font-weight: normal;
}

#footer3 #slogan span {
    text-transform: uppercase;
    font-family: 'Open Sans';
    color: #0e71b4;
}

#footer3 #contactAndSlogan {
    padding: 30px;
}

#footer3 #infosLegales {
    padding: 0 30px 30px 30px;
}

#footer3 #contactAndSlogan div, #footer3 #infosLegales div {
    display: inline-block;
}

#footer3 #infosLegales div {
    margin: 0 10px 0 10px;
}

#footer2 #socialmedia{
    display: none;
}

@media only screen and (min-width: 768px) { /*tablet mode*/
    #footer2 #socialmedia{
        display: block;
    }
    
    
}