#headerContent {
	margin-right: 10px;
	position:relative;
}

#headerContent, #headerContent p, #headerContent ul, #headerContent ol, #headerContent a:link, #headerContent a:active, #headerContent a:visited, #headerContent a:hover  {
    font-size: small;
    font-weight: normal;
	font-family: OpenSansRegular;
	color: #5f5f5f;
}

#headerContent a:link, #headerContent a:active, #headerContent a:visited {
    text-decoration: none;
}

#headerContent a:hover, #headerContent a:hover span {
    text-decoration: underline;
}

#header #logoHeader {
    float: left;
}

#header #toplinks {
    text-align: right;
	padding-top: 10px;
}

#header #toplinks div, #header #toplinks span, #header #toplinks input, #header #toplinks a {
    display:inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
	vertical-align: middle;
}

#header #toplinks input, #header #SearchContainer #SearchSubmit {
	height: 27px;
	line-height: 27px;
}

#header #toplinks .needMargin  {
	margin-left: 1em;
}

#header .minicart_icon {
	width: 16px;
    height: 27px;
    line-height: 12px;
	background: url('../images/cart.png') no-repeat center center;
    margin-right: .3em;
}

#header #SearchContainer input {
	-webkit-border-radius: .5em 0 0 .5em;
    -moz-border-radius: .5em 0 0 .5em;
    border-radius: .5em 0 0 .5em;
	border-style: none;
	margin: 0px;
	color: #b3b3b3;
	font-family: 'OpenSansItalic';
	padding-left: 8px;
	width: 150px;
}

#header #SearchContainer #SearchSubmit {
	-webkit-border-radius: 0 .5em .5em 0;
    -moz-border-radius: 0 .5em .5em 0;
    border-radius: 0 .5em .5em 0;
	border-style: none;
	background-color: #3A8BC2;
	width: 31px;
	background:#3A8BC2 url('../images/loupe.png') no-repeat center center;
}

#header #SearchContainer a:hover #SearchSubmit {
	background-color: #ABACAE;
}

#header #SearchContainer .searchInputContainer a.dnnSearchBoxClearText {
    margin-top: -22px;
}

#header #faireundon {
    text-align: right;
}

#header #faireundon a {
    display: inline-block;
    zoom: 1; *display: inline; /* IE fix for inline-block display */
    width: 153px;
    height: 52px;
    background: url('../images/faireundon4.png') no-repeat center right;
    margin: 10px 0 0 0; 
}


/*===================== LIEN BOUTIQUE ===================== */
#boutique_fixed_tag {
    position: fixed;
    z-index: 400;
    right: 0px;
    top: 200px;
}

#boutique_fixed_tag a {
    display: inline-block;
    zoom: 1;
    *display: inline; /* IE fix for inline-block display */
    width: 65px;
    height: 168px;
    background: url('../images/boutique1.png') no-repeat center right;
}
