#headerContent {
	margin-right: 10px;
	position:relative;
}

#headerContent, #headerContent p, #headerContent ul, #headerContent ol, #headerContent a:link, #headerContent a:active, #headerContent a:visited, #headerContent a:hover  {
    font-size: small;
    font-weight: normal;
	font-family: OpenSansRegular;
	color: #5f5f5f;
}

#headerContent a:link, #headerContent a:active, #headerContent a:visited {
    text-decoration: none;
}

#headerContent a:hover, #headerContent a:hover span {
    text-decoration: underline;
}

#header #logoHeader {
    float: left;
}