#header #menu { /*position links and icons*/
    height: 80px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    color: #0e71b4;
}

#header #menu #menubuttons { /*position the search and menu icons*/
    position: absolute;
    right: 0px;
    bottom: 15px;
    height: 50px;
    z-index: 1001;
    display:flex;
}

#header #SearchContainer .searchInputContainer a.dnnSearchBoxClearText { /*move cleartext button up into field*/
    margin-top: -32px;
    margin-right: 30px;
}

#header #SearchContainer input { /*style search box*/
    margin-right: 30px;
    height: 50px;
    font-size: 20px;
    border:none;
    border-radius: 4px;
    width:0;
    transition: width 0.5s;
}

#header #SearchContainer.opensearch input { /*show search field*/
    /*display: initial;*/
    width:250px;
    padding-right: 30px;
    padding-left: 10px;
    border: 2px solid #0e71b4;
    transition: width 0.5s;
}

#header .closebtn svg .stripe { /*make menu icons white*/
    fill: #ffffff;
    transition: 0.5s;
}

#header .openbtn svg .stripe { /*make menu icons blue*/
    fill: #0e71b4;
    transition: 0.5s;
}

#header #menu #featuredlinks { /*hide dons and boutique links*/
    display: none;
}

.searchicon { /*hide search icon*/
    display: none;
}

.sidenav { /*set up nav menu*/
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #0e71b4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    white-space: nowrap;
}

.opensidenav { /*show nav menu*/
    width: 100%;
}

.sidenav a { /*style nav menu links*/
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}

.sidenav a:hover, .sidenav a.selected { /*underline active or hovered links*/
    text-decoration: underline;
}

.sidenav ul { /*remove bullets on links*/
    list-style-type: none;
}

.sidenav ul li ul { /*hide second level links*/
    display:none;
}

.sidenav ul li.menuopen ul { /*show second level links*/
    display:block;
}

.sidenav .menudrop { /*add menu arrows*/
    content: url(/Portals/_default/Skins/AgapeFR/images/down-arrow.svg);
    margin-left: 10px;
    vertical-align: sub;
}

.sidenav .menuopen .menudrop { /*flip menu arrow up*/
    transform: rotate(180deg);
}

@media screen and (min-width: 768px) { /*tablet mode*/
    .searchicon { /*show search icon*/
        display: inline;
        margin-right: 20px;
    }

    #header #menu #featuredlinks { /*show dons and boutique links*/
        display: block;
        margin-top: 20px;
    }

    #header #menu { /*make logo bigger*/
        height: 160px;
    }

    #header #menu #menubuttons { /*raise menu icons*/
        bottom: 30px;
    }

    .sidenav { /*push nav menu links down*/
        padding-top: 160px;
    }
}

@media screen and (min-width: 1024px) { /*computer mode*/
    .opensidenav { /*shrink nav menu*/
        width: 50%;
    }
}
