.sidenav { /*set up nav menu*/
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #0e71b4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    white-space: nowrap;
}

.opensidenav { /*show nav menu*/
    width: 100%;
}

.sidenav a { /*style nav menu links*/
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}

.sidenav a:hover, .sidenav a.selected { /*underline active or hovered links*/
    text-decoration: underline;
}

.sidenav ul { /*remove bullets on links*/
    list-style-type: none;
}

.sidenav ul li ul { /*hide second level links*/
    overflow:hidden;
    max-height:0;
    transition: 0.5s ease;
}

.sidenav ul li.menuopen ul { /*hide second level links*/

    max-height:1000px;
    transition: 0.5s ease;
}

.sidenav .menudrop { /*add menu arrows*/
    content: url(/Portals/_default/Skins/AgapeFR/images/down-arrow.svg);
    margin-left: 10px;
    vertical-align: sub;
}

.sidenav .menuopen .menudrop { /*flip menu arrow up*/
    transform: rotate(180deg);
}

@media screen and (min-width: 768px) { /*tablet mode*/
    .sidenav { /*push nav menu links down*/
        padding-top: 160px;
    }
}

@media screen and (min-width: 1024px) { /*computer mode*/
    .opensidenav { /*shrink nav menu*/
        width: 50%;
    }
}
