#header #menu {
    height: 160px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    color: #0e71b4;
}

#header #menu #menubuttons {
    position: absolute;
    right: 0px;
    bottom: 30px;
    height:50px;
}

#header #menu #featuredlinks {
    display: none;
}

#searchicon {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0e71b4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 160px;

}
.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    text-decoration: underline;
}

.sidenav ul {
    list-style-type: none;
}

@media screen and (min-width: 768px) { /*tablet mode*/
    #searchicon {
        display: inline;
        margin-right: 20px;
    }

    #header #menu #featuredlinks {
        display: block;
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) { /*computer mode*/
}
