.sidenav { /*set up nav menu*/
    min-height: 100%;
    width: 0;
    position: absolute;
    z-index: 8;
    top: 0;
    right: 0;
    background-color: #0e71b4;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    white-space: nowrap;
}

.sidenav.opensearch {
    padding-top: 130px;
}

.sidenav li {
    font-size: 24px;
    color: #ffffff;
}

.opensidenav { /*show nav menu*/
    width: 100%;
}

.sidenav a { /*style nav menu links*/
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
}

.sidenav a:hover,
.sidenav a.selected,
.sidenav .parent .offlink:hover { /*underline active or hovered links*/
    text-decoration: underline;
}

.sidenav ul { /*remove bullets on links*/
    list-style-type: none;
}

.sidenav ul li ul { /*hide second level links*/
    display: none;
    margin-top: 10px;
}

li.parent span:first-of-type::after {
    content: url(/Portals/_default/Skins/AgapeFR/images/down-arrow.svg);
    margin-left: 10px;
    vertical-align: sub;
    display: inline-block;
}

#Form.showControlBar .sidenav { /*move menu items down when admin bar is visible*/
    margin-top: 53px;
}



li.menuopen span:first-of-type::after { /*flip menu arrow up*/
    transform: rotate(180deg);
}

.menuoverlay {
    z-index: 7;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
    display: none;
}

.menuopen .menuoverlay {
    display: block;
}

@media screen and (min-width: 768px) { /*tablet mode*/
    .sidenav { /*push nav menu links down*/
        padding-top: 160px;
    }

    .sidenav.opensearch { /*push nav menu links down*/
        padding-top: 210px;
    }
}

@media screen and (min-width: 1024px) { /*computer mode*/
    .opensidenav { /*shrink nav menu*/
        width: 50%;
    }

    .sidenav li,
    .sidenav a {
        font-size: 20px;
    }

    .sidenav.opensearch { /*push nav menu links down*/
        padding-top: 160px;
    }
}
