
.OnlineForm {
    width: 675px;
}

.OnlineForm .FieldRow {
    margin-bottom: 10px;
    
}

.OnlineForm .FieldRow input[type="text"], .OnlineForm .FieldRow textarea {
    border: 1px gray solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.OnlineForm .FieldRow input[type="text"] {
    height: 25px;
    line-height: 25px;
    width: 200px;
}

.OnlineForm .FieldRow textarea {
    width: 400px;
    height: 150px;
}

.OnlineForm .FieldLabel {
	display: inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
    vertical-align: top;
    text-align: right;
    width: 200px;
}

.OnlineForm .MandatoryField {
    display: inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
    vertical-align: top;
    text-align: left;
    width: 20px;
    padding-left: 4px;
}

.OnlineForm .MandatoryFieldEmailAck {
    display: inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
    vertical-align: top;
    text-align: left;
    width: 20px;
}

.OnlineForm .Star {
    color: #3A8BC2;
    font-size: 16px;
}

.OnlineForm .MandatoryFieldErrorMsg {
    padding-left: 250px;
    margin-top: 3px;
    font-size: 12px;
    color: red;
}

.OnlineForm .SubmitPanel
{
    color: gray;
    font-size: 12px;
    margin-top: 10px;
    padding-left: 220px;
}

.OnlineForm .button {
    margin-top: 15px;
}

.OnlineForm .Menu_Prefix
{

}

.OnlineForm .Menu_Suffix
{

}

.dnnFormMessage.dnnFormSuccess
{
    background-color: #F5F5F5;
    border-color: #5F5F5F;
}