#popupclose {
    text-decoration:none;
    color:#0e71b4;
    cursor:pointer;
}
#my_popup {
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    padding: 0px 25px 25px;
    background: rgba(255,255,255,0.9);
    border: 2px solid #0e71b4;
    width: 100%;
    min-width: 270px;
    border-radius: 5px;
}
.my_popup_close {
    text-align: right;
}

@media screen and (min-width: 768px) { /*tablet mode*/
    #my_popup {
        width:20%;
    }
}