* {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}
body, .Normal {
	font-size: medium;
    line-height: 1.5;
}

body, p, ul, ol, a:link, a:active, a:visited, a:hover, select, input {
    font-size: inherit;
    color: #5f5f5f;
    font-family: 'Open Sans';
}

p {
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: medium;
}

a:link, a:active, a:visited, a:hover {
	color: #0e71b4;
}

a:link, a:active, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
    font-weight: 400;
    display: block;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}

h1 {
    font-size: 24px;
    line-height: 54px;
    letter-spacing: -0.03em;
    margin-top: 8px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #0e71b4;
}

h2 {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -0.03em;
    margin-top: 8px;
    margin-bottom: 10px;
    color: #5f5f5f;
}

h3 {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-top: 8px;
    margin-bottom: 10px;
    color: #0e71b4;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -1px;
    color: #0e71b4;
}

h5 {
    font-size: 18px;
    line-height: 22px;
    color: #0e71b4;
}

h6 {
    font-size: 16px;
    line-height: 18px;
    color: #5f5f5f;
}

.story-col-l {
    color: #5f5f5f;
}
.story-col-r {
    color: #5f5f5f;
}
.introduction {
    color: #0e71b4;
    font-weight: normal;
    font-size: medium;
}

.fontSmall {
    font-size: small;
}

.quote {
    padding-left: 25px;
    border-left: 6px solid #e6e6e6;
    font-style: italic;
}

.draft {
    background: yellow;
    color: red;
}

ul, ol {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    padding-left: 40px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul li, ol li {
    text-align: left;
    margin-bottom: 10px;
}
