/* Documents global Section Begin */

.Documents .FieldRow {
    margin-bottom: 10px;
}

.Documents .FieldRow input[type="text"], .Documents .FieldRow textarea {
    border: 1px gray solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.Documents .FieldRow input[type="text"] {
    height: 25px;
    line-height: 25px;
    width: 400px;
}

.Documents .FieldRow textarea {
    width: 400px;
    height: 100px;
}

.Documents .FieldSubRow input[type="text"], .Documents .FieldRow .ListBox textarea {
    border: 1px gray solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.Documents .FieldSubRow input[type="text"], .Documents .ListBox {
    height: 25px;
    line-height: 25px;
    width: 200px;
    margin-left: 10px;
}

.Documents .FieldLabel {
	display: inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
    vertical-align: top;
    text-align: left;
    width: 200px;
}

.Documents .FieldSubLabel {
	display: inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
    vertical-align: top;
    text-align: left;
    margin-left: 200px;
}

.Documents .FormItem input[type=checkbox],
.Documents .FormItem input[type=radio],
.Documents .FormItem input.rcbInput {
    width: auto;
     border: 1px gray solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: none;
    padding: 0;
    margin-left: 200px;
}

.Documents .ListBox {
    min-height: 105px;
    min-width: 30px;
}

.Documents .MandatoryFieldErrorMsg {
    padding-left: 250px;
    margin-top: 3px;
    font-size: 12px;
    color: red;
}

.Documents .SubmitPanel
{
    color: gray;
    font-size: 12px;
    margin-top: 10px;
    padding-left: 200px;
}

.Documents .button {
    margin-top: 15px;
}

.Documents .Menu_Prefix
{

}

.Documents .Menu_Suffix
{

}

.Documents .btnEdit {
    background: transparent url('/DesktopModules/AgapeConnect/Documents/images/Edit_lightgray.png') center top no-repeat;
    height: 16px;
    width: 16px;
    
}

.Documents .btnEdit:hover {
    background:transparent url('/DesktopModules/AgapeConnect/Documents/images/Edit_gray.png') center top no-repeat;
}

.Documents .btnDelete {
    background: transparent url('/DesktopModules/AgapeConnect/Documents/images/Delete_lightgray.png') center top no-repeat;
    height: 16px;
    width: 16px;
    
}

.Documents .btnDelete:hover {
    background: transparent url('/DesktopModules/AgapeConnect/Documents/images/Delete_gray.png') center top no-repeat;
}

.Documents .btnAdd {
    background: transparent url('/DesktopModules/AgapeConnect/Documents/images/Add_lightgray.png') center top no-repeat;
    height: 16px;
    width: 16px;
    
}

.Documents .btnAdd:hover {
    background: transparent url('/DesktopModules/AgapeConnect/Documents/images/Add_gray.png') center top no-repeat;
}

/* Documents Global Section End */

/*DocumentsMain Section Begin*/
#DocumentsMain .docInfo{
    display:inline-block;
    vertical-align: middle;
    margin-left: 15px;
    line-height: normal; /* To fix the 6px height added otherwise */
    max-width: 975px;
}
#DocumentsMain .docTitle {
    font-size: larger;
    margin-bottom: 5px;
}
#DocumentsMain .doctext {
    font-size: small;
    color:gray;
}
#DocumentsMain a {
    text-decoration: none;
    display:block;
    padding:10px;
    line-height: 0px; /* To fix the 6px height added otherwise */
}
#DocumentsMain .icons{
    position: relative; /* To center the inner image vertically */
    display: block;
    margin: 0;
    border: 2px solid transparent; /* To avoid moving text when adding a border on hover */
    border-bottom: 1px solid #ddd; /* Horizontal separator */
}
#DocumentsMain .icons + .icons{
    /* Not for first element */
    border-top: 1px solid transparent;
}
#DocumentsMain .icon {
    height:60px;
    width:60px;
    display:inline-block;
    vertical-align: middle;
}
#DocumentsMain .icons:hover {
    border: 2px solid lightgrey; /* Top, left and right borders when hover */
    border-bottom: 1px solid lightgrey; /* Bottom border when hover, to be combined whith top border of following element */
    background-color: #f1f1f1;
}
#DocumentsMain .icons + .icons:hover, #DocumentsMain .icons:hover + .icons {
    /* Not for first element. Applied if element or previous element is hover. */
    border-top: 1px solid lightgrey;
}
#DocumentsMain .icons:last-of-type:hover {
    /* Only for last element */
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 1px 0 lightgrey; /* To avoid moving text when adding a border on hover */
}
#DocumentsMain .docButtons {
    position:absolute;
    right:10px;
    top:13px;
}
#DocumentsMain .noresource {
    text-align: center;
}

/*DocumentsMain Section End*/

/*AddEditResource Section Start*/

#divAddEditResource {
    width: 800px;
    margin: 50px;
}

#divAddEditResource .docOption {
    /* Simulate <hr> after div */
    margin-bottom: 17px;
    border-bottom: solid #ddd 1px;
}

#divAddEditResource .rbLinkType {
    margin-left: 200px;
}

#divAddEditResource .FieldHelp {
    margin-left:200px;
}

#divResType .FieldLabel {
    float:left;
}

#divAddEditResource .RadComboBox input[type="text"] {
    border: none;
    line-height: 16px;
    height: 16px;
}

/*AddEditResource End*/

/*DocumentSettings Section Start*/

#DocumentSettings {
    margin: 50px;
}

#DocumentSettings .btnEdit {
    display: inline-block;
    margin-left: 10px;
}

#DocumentSettings .btnDelete {
    display: inline-block;
    margin-left: 10px;
}

#DocumentSettings .btnAdd {
    display: inline-block;
    margin-left: 10px;
}

#divButtonAdd .button, #divButtonEdit .button {
    margin-top: 0px;
    font-size: small;
    height: 27px;
    line-height: 25px;
    margin-left: 5px;
    padding: 0px 10px 0px 10px;
}

#divButtonAdd, #divButtonEdit {
    margin-top: 30px;
}

/*DocumentSettings End*/
