<style type="text/css">


</style>  

<table style="width: 100%">
        <tr valign="top">
            <td style="width: 100%">
                <div style="margin-right: 0px; margin-left: 0px; padding-left: 0px;">
                    <div class="Agape_Story_storymain" style="width: 100%">
                        <div class="H2">
                            [HEADLINE]
                        </div>
                        <div class="Agape_Story_subtitle">
                            <table width="100%">
                                <tr>
                                    <td class="Agape_Story_subtitle" align="left">By
                                    [AUTHOR]
                                    </td>
                                    <td class="Agape_Story_subtitle" align="right" style="padding-right: 25px">[DATE]
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="Agape_FullStory_bodytext" style="padding-right: 12px; margin-bottom: 10px;">

                            <img src="[IMAGEURL]" alt="Story Image" class="Agape_Story_picturebox" style="border: 1pt solid black;" />


                            <span style="font-size: small;">[STORYTEXT] </span>
                            <br />

                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div id="fbComments" runat="server" class="fb-comments" data-href="www.agape.org.uk"
                        data-num-posts="3" data-width="400" style="text-align: left; width: 50%;">
                    </div>
                    <div align="right" style="padding-right: 15px;">
                        <a href="[RSSURL]" target="_blank">
                            <img src="/images/action_rss.gif" alt="RSS" />
                        </a>

                    </div>
                    <div style="clear: both;" />
                </div>
            </td>
            <td>

                <div style="width: 200px;">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style ">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_preferred_4"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-500677234debf3af"></script>
                    <!-- AddThis Button END -->


                </div>



                <div>
                    <div id="fb-root" style="text-align: left;">
                    </div>
                    <script type="text/javascript">                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) { return; }
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <br />


                </div>
                <div style="clear: both;"></div>

                [LANGUAGES]

                 [MAP]



                [SUPERPOWERS]

            </td>
        </tr>
    </table>


