<div class="afarticle col-9">
    <div class="Agape_Story_storymain">
        <img src="[IMAGEURL]" alt="Story Image" class="Agape_Story_picturebox" />
        <h1> [HEADLINE] </h1>
        <div class="Agape_FullStory_bodytext">
            <span>[STORYTEXT] </span>
        </div>
    </div>
</div>
<div class="afarticleextra col-3">
    <div class="afsocialgroup relatedressources">
        [RELATEDARTICLES]
    </div>
    <div class="afrelatedbtn">
        <a href="/ressources" title="Voir toutes les ressources" class="button">Toutes les ressources</a>  <a href="https://dons.agapefrance.org/" title="Faire un don" class="button">Soutenir Agap&eacute; France</a>
    </div>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style;"><a class="addthis_button_facebook"></a> <a class="addthis_button_twitter"></a><a class="addthis_button_email"></a><a class="addthis_button_compact"></a></div>
    <!-- AddThis Button END -->
    [SUPERPOWERS]
</div>
