<style type="text/css">
    img.Agape_Story_picturebox {
    width: 100% !important;
    }
    .typeFont {
    /*color: #AAA;*/
    margin: 20px 0 -17px 0;
    }
    .typeFont span {
    position: relative;
    top: -4px;
    }
    .storyTitle {
    }
    .agendaTitle {
    margin-bottom: 20px
    }
    .eventDay {
    color: #3A8BC2;
    position: absolute; width: 32px; text-align: center; margin-top: 6px; font-weight: bold;
    }
    .eventMonth {
    position: absolute; width: 32px; text-align: center; margin-top: 31px; color: #AAA ; letter-spacing: -1px;
    }
    .eventTitle {
    margin-top: -4px;
    }
    .eventSample {
    }
    .calImage {
    float: left;
    }
    .eventDiv {
    margin-bottom: 20px;
    border-bottom:  #CCC solid 1px;
    padding-bottom: 20px;
    margin-right: 25px;
    min-height: 50px;
    }
</style>
<table style="width: 100%;">
    <colgroup>
    <col />
    <col />
    </colgroup>
    <tbody>
        <tr valign="top">
            <td style="vertical-align: top;">
            <div style="width: 300px;">
            [AGENDA]
            [RELATEDARTICLES]
            <p style="margin-top: 40px; margin-bottom: 40px; margin-right: 25px;"><a href="/ressources" title="Voir toutes les ressources" class="button">Toutes les ressources</a></p>
            <h2 style="text-align: left;">Agir avec nous !</h2>
            <p style="text-align: left;"><a href="/simpliquer/faireundon" title="Faire un don" class="button">Soutenir Agap&eacute; France</a></p>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_16x16_style;" style="width: 150px; margin-top: 40px; margin-bottom: 20px;">
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_google_plusone_share"></a>
            <a class="addthis_button_email"></a>
            <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52c6717a6463b499"></script>
            <!-- AddThis Button END -->
            [SUPERPOWERS]
            </div>
            </td>
            <td width="100%">
            <div style="margin-right: 0px; margin-left: 0px; padding-left: 0px;">
            <div class="Agape_Story_storymain" style="width: 100%;">
            <img src="[IMAGEURL]" alt="Story Image" class="Agape_Story_picturebox" />
            <h6 class="typeFont">
            <img src="[TYPEICON]" alt="Story Image" class="TypeIcon" />&nbsp;&nbsp;
            <span> [TYPENAME]&nbsp; &nbsp;
            [DATE]</span>
            </h6>
            <h1>
            [HEADLINE]
            </h1>
            <div class="Agape_FullStory_bodytext" style="padding-right: 12px; margin-bottom: 10px;">
            <span>[STORYTEXT] </span>
            <br />
            </div>
            </div>
            <div style="clear: both;"></div>
            </div>
            </td>
        </tr>
    </tbody>
</table>