/*Unpublished Section Begin*/

#Unpublished .validationError{
    margin: 20px;
    font-size: 12px;
    color: red;
}

#Unpublished tr.GridViewHeader th {
    padding: 20px;
    text-align: left;
}

#Unpublished tr.GridViewRows td {
    padding: 10px 20px 10px 20px;
    text-align: left;
}

#Unpublished .gvTemplateButtons {
    padding: 10px;
}

#Unpublished .submitPanel {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

/*Unpublished Section End*/

/*Tag Settings Section Begin*/

#TagSettings .validationError{
    margin: 20px;
    font-size: 12px;
    color: red;
}

#TagSettings tr.GridViewHeader th {
    padding: 20px;
    text-align: left;
}

#TagSettings tr.GridViewRows td {
    padding: 10px 20px 10px 20px;
    text-align: left;
}

#TagSettings input[type="text"], #TagSettings textarea {
    border: 1px gray solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    width: 200px;
}

#TagSettings .AddTagPanel {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}

#TagSettings .submitPanel {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

/*Tag Settings Section End*/

/*StoryMixer Section Begin*/

#StoryMixer .Settings {
    margin-top: 60px;
}

#StoryMixer .FieldLabel {
	display: inline-block;
    vertical-align: top;
    text-align: left;
}

#StoryMixer .divPriorities {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
}

#StoryMixer .divPriority {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;
}

#StoryMixer .divNumber {
    display: flex;
}

#StoryMixer .itemNumber1 {
    flex-basis: 20px;
}

#StoryMixer .itemNumber2 {
    flex-basis: 300px;
}

#StoryMixer .submitPanel {
    width: 100%;
    margin-top: 60px;
    text-align: center;
}

#StoryMixer tr.GridViewHeader th {
    padding: 20px 10px 20px;
    text-align: left;
}

#StoryMixer tr.GridViewRows td {
    padding: 10px 20px 10px 20px;
    text-align: left;
}

#StoryMixer .GridView {
    margin-top: 50px;
}

/*StoryMixer Section End*/

/*SuperPowers Section Begin*/

#SuperPowers .thisStory .Button {
    margin-bottom: 5px;
    font-size: x-small;
}

#SuperPowers .boostBlock {
    margin-bottom: 5px;
}

#SuperPowers .newStory .Button  {
    margin-bottom: 5px;
    font-size: x-small;
}

#SuperPowers .powerStatus  {
    color: red;
    font-style: italic;
}

/*SuperPowers Section End*/


/*ViewStory Section Begin*/
#map_canvas {
    margin: 10px 0 10px 0;
    padding: 0;
    width: 100%;
    height: 200px;
}

.frtitleinfo .Evénement, .eventIcon {
    display: inline-block;
    margin-right: 10px;
    border-radius: .3em;
    border-style: none;
    width: 46px;
    height: 41px;
    flex: none;
    zoom: 1;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0e71b4;
    background-image: url(/Portals/_default/skins/agapefr/images/calendar.svg);
}

.frtitleinfo .Article, .articleIcon {
    display: inline-block;
    margin-right: 10px;
    border-radius: .3em;
    border-style: none;
    width: 46px;
    height: 41px;
    flex: none;
    zoom: 1;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0e71b4;
    background-image: url(/Portals/_default/skins/agapefr/images/article.svg);
}

.frpagearticle {
    width: 150px;
}

.eventDiv {
    margin-top: 10px;
}

.afeventinfo {
    display: inline-block;
}

.eventDiv a {
    display: flex;
}

img.Agape_Story_picturebox {
    width: 100%;
}

.eventDate {
    color: #5f5f5f;
}

.relatedressources .eventDate {
    display: none;
}

#ViewStory .afarticle {
    margin-bottom: 20px;
}

#ViewStory .afarticleextra .button {
    margin-bottom: 30px;
}

.ContentPane {
    display: inline-block;
}

.afrelatedbtn {
    margin-top: 30px;
}

.addthis_toolbox {
    margin-bottom: 30px;
}

.typeFont span {
    position: relative;
    top: 5px;
}

 /*ViewStory Section End*/

 /*AddEdit Section Begin*/

#divAddEditStory .FieldRow {
    margin-bottom: 10px;
    width: 100%;
}

#divAddEditStory .FieldRow input[type="text"],
#divAddEditStory .FieldRow textarea {
    border: 1px gray solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 60%;
    padding: 0px 5px 0px 5px;
}

#divAddEditStory .FieldRow input[type="text"] {
    height: 25px;
    line-height: 25px;
}

#divAddEditStory .FieldRow textarea {
    height: 100px;
    padding: 5px;
}

#divAddEditStory .FieldLabel {
	display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 20%;
    padding-right: 5px;
    margin-right: 30px;
}

#divAddEditStory .cblTags {
    display: inline;
}

#divField3 {
    display: none;
}

#divLanguage {
    display: none;
}

#divChannel {
    display: none;
}

#divAutoGenerate {
    display: none;
}

#divAddEditStory .FieldErrorMsg {
    text-align: center;
    font-size: small;
    color: red;
    margin-bottom: 20px;
}

#divAddEditStory .TagErrorMsg {
    text-align: center;
    font-size: small;
    color: red;
    margin-bottom: 20px;
    display: none;
}

#divAddEditStory .VisualRow {
    margin: 20px;
    width: 100%;
    min-height: 250px;
}

#divAddEditStory .imageCropper {
    float: left;
    width: 50%;
}

#divAddEditStory .locationPicker {
    float: left;
    width: 50%;
}

#divAddEditStory .SubmitPanel
{
    width: 100%;
    text-align: center;
}

#divAddEditStory .button {
    margin-top: 15px;
}

#divAddEditStory .dnnLabel {
    width: 20%;
    margin-right: 20px;
}

 /*AddEdit Section End*/

/*ViewStories Section Begin*/

.afnewslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.afnews {
    padding: 7px;
}

.seachImage {
    width: 100%;
    border: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.afnewslist .afnews {
    border: 2px solid white;
    text-decoration: none;
}

.afnewslist .afnews:hover {
    border: 2px solid lightgrey;
    background-color: #f1f1f1;
    text-decoration: none;
}

.afnewslist .afnews:hover a {
    text-decoration: none;
}

.frtitleinfo {
    display: flex;
}

.tagFilter label {
    margin-left: 5px;
}
.afpagebuttons {
    text-align: center;
    margin-top: 20px;
}

/*ViewStories Section End*/
@media only screen and (min-width: 1024px) { /* For desktop: */
    #ViewStory .afarticle {
        float: right;
        padding-left: 10px;
    }

    #ViewStory .afarticleextra {
        padding-right: 30px;
    }
}