/*Unpublished Section Begin*/

#Unpublished .validationError{
    margin: 20px;
    font-size: 12px;
    color: red;
}

#Unpublished tr.GridViewHeader th {
    padding: 20px;
    text-align: left;
}

#Unpublished tr.GridViewRows td {
    padding: 10px 20px 10px 20px;
    text-align: left;
}

#Unpublished .gvTemplateButtons {
    padding: 10px;
}


#Unpublished .submitPanel {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

/*Unpublished Section End*/

/*Tag Settings Section Begin*/

#TagSettings .validationError{
    margin: 20px;
    font-size: 12px;
    color: red;
}

#TagSettings tr.GridViewHeader th {
    padding: 20px;
    text-align: left;
}

#TagSettings tr.GridViewRows td {
    padding: 10px 20px 10px 20px;
    text-align: left;
}

#TagSettings input[type="text"], #TagSettings textarea {
    border: 1px gray solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    width: 200px;
}

#TagSettings .AddTagPanel {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}

#TagSettings .submitPanel {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

    

/*Tag Settings Section End*/

/*StoryMixer Section Begin*/

#StoryMixer .Settings {
    margin-top: 60px;
}

#StoryMixer .FieldLabel {
	display: inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
    vertical-align: top;
    text-align: left;
}

#StoryMixer .divPriorities {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
}

#StoryMixer .divPriority {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;
}

#StoryMixer .divNumber {
    display: flex;
}

#StoryMixer .itemNumber1 {
    flex-basis: 20px;
}

#StoryMixer .itemNumber2 {
    flex-basis: 300px;
}

#StoryMixer .submitPanel {
    width: 100%;
    margin-top: 60px;
    text-align: center;
}

#StoryMixer tr.GridViewHeader th {
    padding: 20px 10px 20px;
    text-align: left;
}

#StoryMixer tr.GridViewRows td {
    padding: 10px 20px 10px 20px;
    text-align: left;
}

#StoryMixer .GridView {
    margin-top: 50px;
}

/*StoryMixer Section End*/

/*SuperPowers Section Begin*/

#SuperPowers .thisStory .Button {
    margin-bottom: 5px;
    font-size: x-small;
}

#SuperPowers .boostBlock {
    margin-bottom: 5px;
}

#SuperPowers .newStory .Button  {
    margin-bottom: 5px;
    font-size: x-small;
}

#SuperPowers .powerStatus  {
    color: red;
    font-style: italic;
}

/*SuperPowers Section End*/


/*ViewStory Section Begin*/
#map_canvas {
    margin: 10px 0 10px 0;
    padding: 0;
    width: 100%;
    height: 200px;
}

 /*ViewStory Section End*/

 /*AddEdit Section Begin*/
#divAddEditStory .FieldRow {
    margin-bottom: 10px;
    width: 100%;
}

#divAddEditStory .FieldRow input[type="text"], #divAddEditStory .FieldRow textarea {
    border: 1px gray solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 60%;
    padding: 0px 5px 0px 5px;

}

#divAddEditStory .FieldRow input[type="text"] {
    height: 25px;
    line-height: 25px;
}

#divAddEditStory .FieldRow textarea {
    height: 100px;
    padding: 5px;
}

#divAddEditStory .FieldLabel {
	display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 20%;
    padding-right: 5px;
    margin-right: 30px;
}

#divAddEditStory .cblTags {
    display: inline;
}

#divField3 {
    display: none;
}

#divLanguage {
    display: none;
}

#divChannel {
    display: none;
}

#divAutoGenerate {
    display: none;
}

#divAddEditStory .FieldErrorMsg {
    text-align: center;
    font-size: small;
    color: red;
    margin-bottom: 20px;
}

#divAddEditStory .TagErrorMsg {
    text-align: center;
    font-size: small;
    color: red;
    margin-bottom: 20px;
    display: none;
}

#divAddEditStory .VisualRow {
    margin: 20px;
    width: 100%;
    min-height: 250px;
}

#divAddEditStory .imageCropper {
    float: left;
    width: 50%;
}

#divAddEditStory .locationPicker {
    float: left;
    width: 50%;
}
#divAddEditStory .FieldRow input[type="text"].tbLocation {
    width: 75%;
    margin: 3px 3px 0px 0px;
}

#divAddEditStory .SubmitPanel
{
    width: 100%;
    text-align: center;
}

#divAddEditStory .button {
    margin-top: 15px;
}

#divAddEditStory .dnnLabel {
    width: 20%;
    margin-right: 20px;
}

 /*AddEdit Section End*/

.afnewslist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.afnews {
    padding:7px;
}
.seachImage {
    width: 100%;
}


/*copied styles from ascx*/
<style type="text/css" > a.button, a.button:visited {
    text-decoration: none;
}

#<%= dlStories.ClientId% > td {
    width: 50%;
}

.StoriesList {
    width: 100%;
}


.dnnGridItem a:hover, .dnnGridAltItem a:hover {
    text-decoration: none;
}

.dnnGridItem, .dnnGridAltItem {
    padding: 10px;
}

.iconImage {
    float: left;
}

.buttonLeft {
    float: left;
}

.buttonRight {
    float: Right;
}


.seachImage {
    width: 100%;
    border: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.storyTitle {
}

<%--.dnnGridItem:hover .storyTitle, .dnnGridAltItem:hover .storyTitle {
    text-decoration: underline;
}

--% > .typeFont {
    <%--color: #AAA;
    --%> <%--margin: 10px 0 15px 0;
    --%>
}

.typeFont span {
    position: relative;
    top: 5px;
}

.afnewslist .afnews {
    border: 2px solid white;
    text-decoration: none;
}

    .afnewslist .afnews:hover {
        border: 2px solid lightgrey;
        background-color: #f1f1f1;
        text-decoration: none;
    }

    .afnewslist .afnews:hover a {
        text-decoration: none;
    }


.frtitleinfo {
    display:flex;
}

.aficonarticle {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.dnnGridItem, .dnnGridAltItem {
    border: 2px inset transparent;
    max-width: 50%;
}

.mynavbar-inner {
    min-height: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.mynavbar-search .search-query {
    padding: 4px 14px;
    margin-bottom: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #f5f5f5;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
}

.pagination ul > li {
    display: inline;
}

.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

ul, ol {
    padding: 0;
    margin: 0 0 9px 25px;
}

user agent stylesheetul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

Inherited from div.pagination.pagination-centered .pagination-centered {
    text-align: center;
}

.pagination-centered {
    text-align: center;
}

.pagination {
    margin: 20px 0;
}

    .pagination ul > .active > a, .pagination ul > .active > span {
        color: #999;
        cursor: default;
    }

    .pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
        background-color: #f5f5f5;
    }

    .pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
        color: #999;
        cursor: default;
        background-color: transparent;
    }

.tagFilter label {
    margin-left: 5px;
}

.frtitleinfo .Evénement, .eventIcon {
    display:inline-block;
    margin-right: 10px;
    border-radius: .3em;
    border-style: none;
    width: 46px;
    height: 41px;
    flex: none;
    zoom: 1;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0e71b4;
    background-image: url(/Portals/_default/skins/agapefr/images/calendar.svg);
}

.frtitleinfo .Article, .articleIcon {
    display: inline-block;
    margin-right: 10px;
    border-radius: .3em;
    border-style: none;
    width: 46px;
    height: 41px;
    flex: none;
    zoom: 1;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0e71b4;
    background-image: url(/Portals/_default/skins/agapefr/images/article.svg);
}

.frpagearticle {
    width:150px;
}
.eventDiv {
    margin-top:10px;
}
.afeventinfo{
    display:inline-block;
}
.eventDiv a {
    display:flex;
}

img.Agape_Story_picturebox {
    width: 100%;
}
.eventDate {
    color: #5f5f5f;
}

.afarticle {
    margin-bottom:10px;
}

@media only screen and ( min-width: 1024px) { /* For desktop: */
    .afarticle {
        float: right;
        padding-left: 10px;
    }

    .afarticleextra {
        padding-right: 30px;
    }
}