/*Ressource Unpublished Section Begin*/

#Unpublished .validationError{
    margin: 20px;
    font-size: 12px;
    color: red;
}


#Unpublished tr.GridViewHeader th {
    padding: 10px;
    text-align: left;
}

#Unpublished tr.GridViewRows td {
    padding: 10px;
    text-align: left;
}

#Unpublished .gvTemplateButtons {
    padding: 10px;
}


#Unpublished .submitPanel {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}



/*Ressource Unpublished Section End*/


