
/* France's custom skin for the Stories module */


/* END Slider Customization */
.theme-default .nivoSlider {
    position:relative;
	width: 100%;
	height:auto;
	overflow: visible;
    visibility: hidden;
}
.theme-default img.nivo-main-image{
    box-shadow: 0px 1px 9px 0px #4a4a4a;
}

.theme-default .nivoSlider img     
{
    position: relative;
    overflow: hidden;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav 
{
    position: relative;
    text-align: right;
	margin-top: 5px;
    color: transparent;
	padding:  0;
    z-index:1;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:18px;
	height:18px;
	background:url(bulletsIcon.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 0px;
    color: transparent;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
    color: transparent;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
    opacity: 0;
    z-index:7;
}

.theme-default:hover .nivo-directionNav a {
    opacity: 1;
}

.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}
.rotator1 .nivo-caption {
    position:initial;
    padding:0;
    background:transparent;
    min-height:126px;
}
.rotator1 .slider-image-text {
    margin:0;
    line-height:42px;
}
.rotator1 .nivo-caption a, .rotator1 .nivo-caption a:hover,  .rotator1 .nivo-caption a:link,  .rotator1 .nivoCaption a:visited
{
    color: #0e71b4;
    text-decoration: none;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}


.theme-default .nivo-box {
	overflow: visible;
}
.nivo-box img { display:block; }

.theme-default .slider-image-text {
    opacity: 1.0 !important;
    line-height: 42px;
}

.theme-default a.nivo-imageLink.PlayButton {
    background: url(play.png) no-repeat center; 
    opacity: 1;
}

.theme-default a.nivo-imageLink {
	background:none; 
}

/* END Slider Customization */

/* BEGIN video popup */

#fr_video_popup {
    display: none;
    z-index:10000;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
}

.fr_video_popup_close {
    color: white;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.fr_video_popup_close:hover, .fr_video_popup_close:focus, .fr_video_popup_close:active {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    text-decoration: none;
    color: white;
    cursor:pointer;
}

#fr_video_popup #playerspace {
    width: 95%;
    height: 50vw;
}

#fr_video_popup #popplayer {
    width: 100%;
    height: 100%;
}

/* END video popup */
/* BEGIN Rotator1-Fr and Rotator2-Fr */
.no-stories {
    font-size: small;
    color: red;
}

/* END Rotator1-Fr and Rotator2-Fr */

/* BEGIN Rotator2-Fr */

.rotator2 {
    
    /*padding: 30px 20px 30px 20px;*/
    /*display: flex;*/
    margin-top: 30px;
}

.rotator2 .nivo-caption {
	font-family: Helvetica, Arial, sans-serif;
    font-size: x-large ;
	background:transparent;
    color:#0e71b4;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: normal;
    vertical-align: top;
    padding: 0 10px;
    position:relative;
    margin-left: 10px;
    width:90%;
    z-index:7;
}

.rotator2 .nivo-caption a:hover {
    text-decoration: none;
}

.rotator2 a.nivo-caption, .rotator2 a.nivo-caption:hover,  .rotator2 a.nivo-caption:link,  .rotator2 a.nivoCaption:visited
{
    text-decoration: none;
}

.rotator2 .nivo-caption h1 {
    margin-top:-10px;
}

.rotator2 .nivo-caption h2 {
    margin-top:-10px;
}



/* END Rotator2-Fr */

/* BEGIN don't know what this goes to */

.dnnGridItem:hover span.storyTitle, .dnnGridAltItem:hover span.storyTitle {
    text-decoration: none;
}

/* END don't know what this goes to */



    @media only screen and (min-width: 768px) {
    /* For tablets: */
    .rotator1 .nivo-caption {
        min-height:84px;
    }
}
@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .rotator1 .nivo-caption {
        min-height:42px;
    }
    .rotator2 {
        display:flex;
    }
    .addthis_toolbox {
        padding-left: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        position: absolute;
        bottom: 0;
    }
    .rotator2 .theme-default {
        width:935px;
    }
    .rotator2 .nivo-caption {
        width: 300px;
    }
}