
.accueil .c_contentpane {
    padding: 0px;
    margin: 0px;
}


/*===================== CARROUSSEL ET VIGNETTES LIENS VERTICAUX ===================== */

#bar3 {
    padding: 30px 0 20px 0;   
    background: #dce2e3;
    background: -moz-linear-gradient(top, #dce2e3 0%, #dee3e4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dce2e3), color-stop(100%,#dee3e4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dce2e3 0%,#dee3e4 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #dce2e3 0%,#dee3e4 100%); /* W3C */
}

.ContentPane, .RightPane {
    display: table-cell;
    vertical-align: top;
}

.ContentPane {
    padding-left: 15px;
}

.RightPane {
    padding-left: 27px;
    width: 275px;
}

.RightPane .c_contentpane {
    text-align: center;
}


/*===================== VIGNETTES LIENS VERTICAUX ===================== */

a.BlocLienRapide {
    /* Astuce pour éviter les espaces entre les div inline-block */
    font-size: 1px;
    letter-spacing: -1px;

    display: block;
    margin-bottom: 2px;
}

.BlocLienRapide-Left, .BlocLienRapide-Center, .BlocLienRapide-Right {
    display: inline-block;
    height: 98px;
    line-height: 98px;
    vertical-align: top;
}

.BlocLienRapide-Left {
   background: url('./images/BlocLienRapide-Left.png') no-repeat;
   width: 10px;
}

.BlocLienRapide div.BlocLienRapide-Center {
   background: url('./images/BlocLienRapide-Center.png') repeat-x;
   padding-left: 10px;
   width: 206px;
   text-align: left;
}

.verticalcentered {
	margin-top: 25px;
}

.BlocLienRapide-Right {
   background: url('./images/BlocLienRapide-Right.png') no-repeat;
   width: 42px;
}

.BlocLienRapide h1 {
    font-family: OpenSansBold;
    font-size: 20px;
    line-height: normal;
    letter-spacing: normal;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
    color: #5f5f5f;
}

.BlocLienRapide h2 {    
    font-size: 14px;
    line-height: normal;
    letter-spacing:normal;
    margin: 0;
    white-space: nowrap;
    color: #5f5f5f;
}

.BlocLienRapide .highlight {
    color: #3A8BC2;
    font-weight: inherit;
    display: inline;
}

a.BlocLienRapide:hover {
    text-decoration: none;
}

a.BlocLienRapide:hover h1 {
    text-decoration: underline;
}


/*===================== LIENS RESEAUX SOCIAUX ===================== */

.RightPane #facebook, .RightPane #youtube {
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    border-style: none;
    background-color: #3A8BC2;
    width: 46px;
    height: 41px;
    display: inline-block;
    zoom: 1; *display: inline; /* IE fix for inline-block display */
    margin-top: 20px;
}

.RightPane #facebook {
    background: #3A8BC2 url('./images/facebook2.png') no-repeat center center;
}

.RightPane #facebook:hover {
	background-color: #ABACAE;
}

.RightPane #youtube {
    background: #3A8BC2 url('./images/youtube2.png') no-repeat center center;
    margin-left: 15px;
}

.RightPane #youtube:hover {
    background-color: #ABACAE;
}


/*===================== VIGNETTES LIENS HORIZONTAUX ===================== */

#bar4 {
    background: white;
    padding: 30px 0 30px 0;
}

.BottomPane {
    text-align: center;
    padding: 0 6px 0 4px;
}

.BottomPane .centervignette {
    margin: 0 7px 0 7px;
}

