@import url("./HeaderPhotoAndTitle.css");

#ContentContainer .ContentPane {
    margin: 0 8px 0 8px;
    padding: 0;
    padding-bottom: 100px;
    text-align: center;
}

#ContentContainer #ContentTitle {
    margin: 150px 0 0 30px;
}

.LeftPane, .CenterPane, .RightPane {
    display: inline-table;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
    vertical-align: top;
}

.LeftPane, .CenterPane {
    margin-right: 7px;
}

.LeftPane{
    margin-left: 0;
}

.RightPane{
    margin-right: 0;
}
