/*========================== Photo Positioning =======================*/
#bar3 {
    position: relative;
    display: block;
    text-align: center;
}

.PhotoPane {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
}

/*========================== TITLE =======================*/
#ContentContainer #ContentTitle {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    padding: 0 10px 0 10px;
    color: white;
    background: #0e71b4;
    font-family: OpenSansLight;
    font-size: 20px;
    margin-top: -40px;
    margin-left: 20px;
    position: absolute;
    left: 0;
}

/*========================== CONTENT =======================*/
#ContentContainer {
    display: inline-block;
    margin-top: 100px;
    background: white;
}

    #ContentContainer .ContentPane {
        min-height: 300px;
    }



    #ContentContainer .ContentPane img.fullwidth {
        width: 100%;
    }

@media only screen and (min-width: 768px) { /*tablet mode*/
    #ContentContainer {
        margin-top: 200px;
    }
}
