@import url("./HeaderPhotoAndTitle.css");

#ContentContainer .ContentPane {
    margin: 0; padding: 0;
    text-align: center;
    padding-bottom: 100px;
}

#ContentContainer #ContentTitle {
    margin: 150px 0 0 30px;
}

.LeftColumn, .LeftPane, .BottomLeftPane, .CenterPane {
    margin: 0;
}

.LeftColumn, .CenterPane {
    display: table-cell;
    vertical-align: top;
}

.LeftColumn {
    width: 307px;
    position: relative;
}

.BottomLeftPane {
    position: absolute;
    bottom: 0px;
}

.CenterPane {
    width: 663px;
}

.CenterPane .c_contentpane {
    padding-left: 0px;
}

