@import url("./HeaderPhotoAndTitle.css");

#ContentContainer .ContentPane {
    margin: 0; padding: 0;
    text-align: center;
    padding-bottom: 100px;
    width: 100%;
}

#ContentContainer #ContentTitle {
    margin: 150px 0 0 30px;
}

.centeredbox {
    width: 1200px;
}

#ContentContainer #ContentTitle {
    margin: 5px 0 0 30px;
}