@import url("./HeaderPhotoAndTitle.css");

#ContentContainer .ContentPane {
    margin: 0; padding: 0;
    text-align: center;
    padding-bottom: 100px;
    width: 100%;
}

html, body, form {
    min-width: 1150px;
}

.centeredbox {
    width: 1150px;
}