/*===================== RESET CSS ===================== */
@import url("./css/reset.css");

/*===================== FONTS ===================== */
@import url("./css/font.css");

/*===================== TYPOGRAPHY ===================== */
@import url("/Portals/_default/Skins/AgapeFR/css/typography.css");

/*===================== JQUERY-UI ===================== */
@import url("./FranceUI/jquery-ui-1.10.3.custom.css");
@import url("./JqueryUIFix.css");

/*===================== HORIZONTAL BARS ===================== */
@import url("./css/bars.css");

/*===================== HEADER ===================== */
@import url("./css/header.css");

/*===================== MENUS ===================== */
@import url("./css/menus.css");

/*===================== FOOTER ===================== */
@import url("./css/footer.css");

/*===================== HOME PAGE ===================== */
@import url("./css/accueil.css");

/*===================== POPUP ===================== */
@import url("./css/popup-fr.css");

/*===================== PAGE GLOBALS ===================== */

*{
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


html, body, form {

	background: white;
}
#Form { /*to allow full height menu*/ 
    position: relative;
}

.dnnTextEditor {
    font-size: small;
}

/*===================== BUTTONS ===================== */

/* Primary Action and custom buttons */

.button, a.button:link, a.button:visited,
.dnnPrimaryAction, a.dnnPrimaryAction, p a.dnnPrimaryAction,
.dnnFormPopup .ui-dialog-buttonpane button.dnnPrimaryAction,
.dnnFormItem input[type="submit"], .bstrap30 .btn.agapefrancebutton, .bstrap30 .btn.agapefrancebutton:focus {
    height: 42px;
    line-height: 42px;
    display: inline-block;
    padding: 0px 20px 0 20px;
    font-family: OpenSansSemiBold;
    font-size: medium;
    font-weight: normal;
    white-space: nowrap;
    color: white;
    border-radius: 3px;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    background-color: #0e71b4;
    border:none;
}

    .ui-dialog-buttonset .dnnPrimaryAction .ui-button-text {
        padding: 0;
    }

.button:hover, a.button:hover,
.dnnPrimaryAction:hover, a.dnnPrimaryAction:hover,
.dnnFormPopup .ui-dialog-buttonpane button.dnnPrimaryAction:hover,
.dnnFormItem input[type="submit"]:hover, .bstrap30 .btn.agapefrancebutton:hover {
    background-color: #ABACAE;
    font-size: medium;
    font-weight: normal;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-family: OpenSansSemiBold;
}

.button:active, a.button:active,
.dnnPrimaryAction:active, a.dnnPrimaryAction:active,
.dnnFormPopup .ui-dialog-buttonpane button.dnnPrimaryAction:active,
.dnnFormItem input[type="submit"]:active {
    background-color: #ABACAE;
    font-size: medium;
    font-weight: normal;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-family: OpenSansSemiBold;
    border: none;
}

.button[disabled], .button[disabled]:hover, .button[disabled]:active,
a.button[disabled], a.button[disabled]:hover, a.button[disabled]:active,
.dnnFormPopup .ui-dialog-buttonpane button[disabled].dnnPrimaryAction,
.dnnPrimaryAction[disabled], .dnnPrimaryAction[disabled]:hover, .dnnPrimaryAction[disabled]:active {
    background: #ccc !important;
    border: 1px #ccc solid !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #999 !important;
    text-shadow: none;
    font-family: OpenSansSemiBold;
    font-size: medium;
    white-space: nowrap;
    text-decoration: none;
    border: none;
}

/* Secondary Action */
.dnnFormItem button, .dnnFormItem input[type="button"],
.dnnFormItem input[type="reset"],
.dnnSecondaryAction,
a.dnnSecondaryAction,
ul.dnnAdminTabNav li a,
.dnnLogin .LoginTabGroup span,
.dnnFormPopup .ui-dialog-buttonpane button.dnnSecondaryAction {
    height: 42px;
    line-height: 42px;
    display: inline-block;
    padding: 0px 20px 0 20px;
    font-family: OpenSansSemiBold;
    font-size: medium;
    font-weight: normal;
    white-space: nowrap;
    color: #3A8BC2;
    border: 1px #dfdfdf solid;
    border-radius: 3px;
    background: #f5f5f5;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    border:none;
}

    .ui-dialog-buttonset .dnnSecondaryAction .ui-button-text {
        padding: 0;
    }

.dnnFormItem button:hover, .dnnFormItem input[type="button"]:hover,
.dnnFormItem input[type="reset"]:hover,
.dnnSecondaryAction:hover,
a.dnnSecondaryAction:hover,
ul.dnnAdminTabNav li a:hover,
.dnnLogin .LoginTabGroup span:hover,
.dnnFormPopup .ui-dialog-buttonpane button.dnnSecondaryAction:hover {
    background-color: #ABACAE;
    font-size: medium;
    font-weight: normal;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-family: OpenSansSemiBold;
    border: none;
}

.dnnFormItem button:active,
.dnnFormItem input[type="button"]:active,
.dnnFormItem input[type="reset"]:active,
.dnnFormItem input[type="reset"]:active,
.dnnSecondaryAction:active,
a.dnnSecondaryAction:active,
ul.dnnAdminTabNav li a:active,
.dnnFormPopup .ui-dialog-buttonpane button.dnnSecondaryAction:active {
    background-color: #ABACAE;
    font-size: medium;
    font-weight: normal;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-family: OpenSansSemiBold;
    border: none;
}

/*-------------------------------------*/
/* TABS : JQUERY UI TABS 1.8.14 */
/*-------------------------------------*/
/* Tabs */
ul.dnnAdminTabNav {
    display: inline-block;
    margin-top: 5px;
    margin-left: 0;
    width: 99%;
    height: auto;
    border-bottom: 1px solid #c2c2c2;
}

    ul.dnnAdminTabNav li {
        float: left;
        margin-right: 4px;
        list-style: none;
    }

    .ui-tabs ul.dnnAdminTabNav li { /* .ui-tabs needed here to override another definition */
        border-bottom-width: 1px;
    }

        ul.dnnAdminTabNav li a {
            /* most styles are inherited from typography.css */
            margin-bottom: 0;
            box-shadow: none;
            -webkit-box-shadow: none;
            -webkit-border-radius: 3px 3px 0px 0px;
            height: auto;
            line-height: inherit;
            border: none;
            font-family: OpenSansRegular;
            background: none;
        }

        ul.dnnAdminTabNav li a:hover {
            border: none;
            font-family: OpenSansRegular;
            background: none;
        }
        
        ul.dnnAdminTabNav li.ui-tabs-active a {
            margin-top: 0; /*-3px;*/
            padding: .5em 1em;
            background: none; /*#fff;*/
            border: none;
            font-family: OpenSansRegular;
        }

        ul.dnnAdminTabNav li.ui-tabs-active a:hover {
            color: #ffffff;
        }

/* Panels */
.ui-tabs .ui-tabs-panel {
    position: relative;
    display: block;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

/*===================== HORIZONTAL SEPARATOR ===================== */

hr {
    display: block;
    clear: both;
    margin: 17px 0 17px 0;
    height: 0;
    border: solid #ddd;
    border-width: 1px 0 0 0;
}

hr.dotted {
    border-style: dotted;
}

/*===================== RADEDITOR FIXES ===================== */

/*.ImageManager,
.InsertImage
{
	background-position: -366px center;
}*/

span.ImageManager,
span.InsertImage
{
    background: url('/Portals/0/RadEditor/images/InsertMedia.png') no-repeat center center;
}

/*.DocumentManager,
.InsertDocument
{
	background-position: -1476px center;
}*/

span.DocumentManager,
span.InsertDocument
{
    background: url('/Portals/0/RadEditor/images/DocumentManager.png') no-repeat center center;
}

/*.ImageMapDialog {
  background-position: -396px center;
}*/

span.ImageMapDialog {
  background: url('/Portals/0/RadEditor/images/ImageMapEditor.png') no-repeat center center;
}

/*.InsertCodeSnippet,
.InsertSnippet
{
	background-position: -2164px center;
}*/

.reTool span.InsertCodeSnippet,
.reTool span.InsertSnippet
{
    background: url('/Portals/0/RadEditor/images/snippet.png') no-repeat center center;
}

/* Set font size for snippet list */
.reDropDownBody table td {
  font-size: 12px !important;
}

/* Move action menu back over focused module */
.actionMenu ul.dnn_mact {
    margin-left: -90px !important;
}

/* activities links */
.afsocialbutton {
    margin-top:10px;
    margin-right:10px;
}

.aflinkicon {
    width:46px;
    height:41px;
}

.affbicon, .afmailicon, .afwebicon, .afwebiconaf {
    border-radius: 3px;
    border-style: none;
    width: 46px;
    height: 41px;
    display: inline-block;
    zoom: 1;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0e71b4;
    background-image: url(/Portals/_default/skins/agapefr/images/facebook.svg);
}

.affbicon {
    background-image: url(/Portals/_default/skins/agapefr/images/facebook.svg);
}

.afmailicon {
    background-image: url(/Portals/_default/skins/agapefr/images/speech-bubble.svg);
}

.afwebicon {
    background-image: url(/Portals/_default/skins/agapefr/images/planet-earth.svg);
}

.afwebiconaf {
    background-image: url(/Portals/_default/skins/agapefr/images/Logo_Agape_France_Symbole.svg);
}


.afsocialblock{
    margin-bottom: 10px;
    padding: 20px;
    background: #F5F5F5;
}

.afsocialblock h6{
    font-weight:bold;
}

.afsocialblock .afappicon{
    width: 49%;
    margin-top:10px;
}

.afarticleextra .button {
    margin-bottom: 20px;
}

    @media only screen and (
    min-width: 768px) {
        /* For tablets: */
        .col-m-1 {
            width: 8.33%;
        }

        .col-m-2 {
    width: 16.66%;
        }

        .col-m-3 {
    width: 25%;
        }

        .col-m-4 {
    width: 33.33%;
        }

        .col-m-5 {
    width: 41.66%;
        }

        .col-m-6 {
    width: 50%;
        }

        .col-m-7 {
    width: 58.33%;
        }

        .col-m-8 {
    width: 66.66%;
        }

        .col-m-9 {
    width: 75%;
        }

        .col-m-10 {
    width: 83.33%;
        }

        .col-m-11 {
    width: 91.66%;
        }

        .col-m-12 {
    width: 100%;
        }

        .col-sm-4 {
    width: 33.33%;
        }

        .col-sm-8 {
    width: 66.66%;
        }
        .col-sm-12 {
    width: 100%;
        }
        .afsocialblock{
    width: 49%;
    }
    .afsocialgroup{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    }

@media only screen and ( min-width: 1024px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .afsocialgroup {
        display: block;
    }

    .afsocialblock {
        width: 100%;
    }

.afarticle {
    float: right;
    padding-left: 10px;
}
.afarticleextra {
    padding-right: 30px;
}
}
    