.ActionForm input[type="text"], .ActionForm textarea, .ActionForm select.form-control {
    border: 1px gray solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.ActionForm select.form-control {
    padding:0 0 0 8px;
}

.ActionForm input[type="text"], .ActionForm select.form-control {
    height: 25px;
    line-height: 25px;
    width: 200px;
}

.ActionForm textarea {
    width: 400px;
    height: 150px;
}

.ActionForm .form-horizontal .form-group .control-label {
	display: inline-block;
	zoom: 1; *display: inline; /* IE fix for inline-block display */
    vertical-align: top;
    width: 200px;
    float:left;
    padding-top:0;
    font-weight:normal !important;
    padding-right:10px;
}

.ActionForm .form-horizontal .form-group .control-label::after {
	content:"*";
    color: rgba(0,0,0,0);
}


.ActionForm .form-horizontal .form-group .control-label.required::after {
    color: #3A8BC2;
}

.ActionForm .form-horizontal .form-group .checkbox label input{

    margin-top: 5px;
}
.form-group-obligtext p {
    font-size:small;
}
.bstrap30 span.text-danger {
    font-size:small;
    color:red;
}
.bstrap30 .has-error input.form-control {
    border-color:red;
}
.bstrap30 .has-error input.form-control:focus {
    border-color:red;
}
.bstrap30 div.alert-danger{
	background-color: rgba(255,0,0,0.15);
    border-color: rgba(255,0,0,0.2);
	color:#444;
}

.bstrap30 div.alert-info{
	background-color: #F5F5F5;
    border-color: #5F5F5F;	
}