
.BluePromotionBox {
    width: 285px;
    margin-bottom: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border: 1px solid #DFDFDF;
    -moz-box-shadow:    1px 1px 5px 2px #F4F4F4;
    -webkit-box-shadow: 1px 1px 5px 2px #F4F4F4;
    box-shadow:         1px 1px 5px 2px #F4F4F4;
}

.BluePromotionBox .titleContainer {
    position: relative;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    text-align: left;
    padding: 0px 10px 0 10px;
    background: #3A8BC2;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
	border: none;
}

.BluePromotionBox .title {
    color: white;
    text-transform: uppercase;
    font-family: 'OpenSansBold';
    font-size: 20px;
    letter-spacing : -1px;
    position: relative;
}

.BluePromotionBox .titleRays {
    height: 48px;
    line-height: 48px;
    width: 261px;
    position: absolute;
    right: 0; top: 0;
    background: url('images/BoxTitleRays.png') no-repeat;
}

.BluePromotionBox .contentContainer {
    padding: 20px;
    border-top: 1px solid white;
    position: relative;
}

.BluePromotionBox .contentpane div.Normal img {
    position: absolute; z-index: -1;
    top: 0;
    left: 0;
    margin-bottom: -20px -20px 0 -20px;
}

.BluePromotionBox div.contentpane {
    padding: 0;
}

.BluePromotionBox .contentContainer .DNNModuleContent {
    height: 676px;
    display:table;
}

.BluePromotionBox .Normal {
    vertical-align:bottom;
    display:table-cell;
    text-align: right;
    *clear: expression(
        style.marginTop = "" + (offsetHeight < parentNode.offsetHeight ? parseInt((parentNode.offsetHeight - offsetHeight)) + "px" : "0"),
        style.clear = "none", 0
        );
}

.BluePromotionBox .contentContainer .DNNModuleContent p {
    font-family: OpenSansRegular;
    font-size: 20px;
    padding-bottom: 20px;
}

.BluePromotionBox .contentContainer .DNNModuleContent .button {
    height: 29px;
    line-height: 29px;
    min-width: 65px;
    background: #3A8BC2;
    display: inline-block;
    padding: 0px 10px 0 10px;
    margin-top: 10px;
    border: 1px #ABACAE solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: OpenSansSemiBold;
    color: #DBDEE3;
    white-space: nowrap; 
    text-align: left;
}

.BluePromotionBox .contentContainer div.Normal .button::after {
    font-size: 16px;
    padding-left: 10px;
    content: '\25B6'; /* Add a triangle after the button text */
}

.BluePromotionBox .contentContainer div.Normal .button:hover {
    text-decoration: none;
    color: #ABACAE;
}


