.list a {
    position: relative; /* To center the inner image vertically */
    display: flow-root;
    margin: 0;
    border: 2px solid transparent; /* To avoid moving text when adding a border on hover */
    border-bottom: 1px solid #ddd; /* Horizontal separator */
    padding: 10px; /*make room around text*/
}

.list a + a {
    /* Not for first element */
    border-top: 1px solid transparent;
}

.list a:hover {
    text-decoration: none;
    border: 2px solid lightgrey; /* Top, left and right borders when hover */
    border-bottom: 1px solid lightgrey; /* Bottom border when hover, to be combined whith top border of following element */
    background-color: #f1f1f1;
}

    .list a + a:hover, .list a:hover + a {
        /* Not for first element. Applied if element or previous element is hover. */
        border-top: 1px solid lightgrey;
    }

.list a:last-of-type:hover {
    /* Only for last element */
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 1px 0 lightgrey; /* To avoid moving text when adding a border on hover */
}

.list a img {
    width: 100%;
    margin-top: -40px;
}

.list a h4 {
    display: inline-block;
    position: relative;
    background: #0e71b4;
    color: white;
    padding: 5px 10px;
}

@media screen and (min-width: 768px) { /*tablet mode*/
    #bar3 .list a img {
        width: 50%;
        float: right;
        padding-left: 10px;
        margin-top: 0;
    }

    .list a h4 {
        background: none;
        color: #0e71b4;
        padding: 0;
    }
}
