#accordion {
    font-weight:normal;
    font-size:14px;
    font-family: Open Sans;
}
#accordion h3, a {
    font-weight:normal;
    font-size:medium;
    font-family: Open Sans;
}

#accordion a {
    font-weight:bold;
}

    #accordion .heading {
        margin: 1px;
        padding: 3px 10px;
        cursor: pointer;
        position: relative;
        border-bottom-style: dashed;
        border-width: 1px;
        text-align: center;
        font-style: italic;
        color:white;
    }

.accordion-heading .accordion-toggle {
        line-height: 18px;
        background-color:#EFF3FB;
}

#divTransDetail #DetailTable td {
	padding: 3px 8px;
}