
.PromotionBox {
    width: 310px;
    margin-bottom: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border: 1px solid #DFDFDF;
    -moz-box-shadow:    1px 1px 5px 2px #F4F4F4;
    -webkit-box-shadow: 1px 1px 5px 2px #F4F4F4;
    box-shadow:         1px 1px 5px 2px #F4F4F4;
}

.PromotionBox .titleContainer {
    position: relative;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    text-align: left;
    padding: 0px 10px 0 10px;
    background: url('images/GreyBoxTitle.png') repeat-x;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
	border: none;
}

.PromotionBox .title {
    color: #272727;
    text-transform: uppercase;
    font-family: 'Open Sans';
	font-weight: 700;
    font-size: 20px;
    letter-spacing : -1px;
    position: relative;
}

.PromotionBox .titleRays {
    height: 48px;
    width: 261px;
    position: absolute;
    right: 0; top: 0;
    background: url('images/BoxTitleRays.png') no-repeat;
}

.PromotionBox .contentContainer {
    padding: 10px;
    height: 305px;
    border-top: 1px solid white;
    position: relative;
}

.PromotionBox .contentpane div.Normal img {
    margin: -10px -10px 10px -10px;
}

.PromotionBox .contentpane {
    padding: 0;
    text-align:left;
    vertical-align:top;
}
#ContentContainer .PromotionBox .ContentPane {
    padding-bottom: 0px;
	margin: 0px;
}

.PromotionBox .contentContainer div.Normal {
    text-align: left;
}

.PromotionBox .contentContainer div.Normal p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.PromotionBox .contentContainer div.Normal h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.PromotionBox .contentContainer div.Normal .button {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 29px;
    line-height: 29px;
    min-width: 65px;
    background: url('images/GreyBoxButton.png') repeat-x;
    display: inline-block;
    padding: 0px 10px 0 10px;
    margin-top: 10px;
    border: 1px #ABACAE solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: normal;
    color: #3A3B3F;
    white-space: nowrap;  
}

.PromotionBox .contentContainer div.Normal .button::after {
    font-size: 16px;
    padding-left: 10px;
    content: '\25B6'; /* Add a triangle after the button text */
}

.PromotionBox .contentContainer div.Normal .button:hover {
    text-decoration: none;
    color: #ABACAE;
}

.PromotionBox .Normal h1 {
    font-size: 20px;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #3A8BC2;
    text-transform: none;
    line-height: normal;
}

.PromotionBox .Normal h2 {
    font-size: 18px;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #3A8BC2;
    line-height: normal;
}

.PromotionBox .Normal h3 {
    font-size: 16px;
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #3A8BC2;
    line-height: normal;
}

