/*Ressource ListFullWidth Section Begin*/

#ListFullWidth a {
    position: relative;
    display: flow-root;
    margin: 0;
    border: 2px solid transparent;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-decoration:none;
}

#ListFullWidth a:hover {
    text-decoration: none;
    border: 2px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: #f1f1f1;
}

#ListFullWidth h4{
    display: inline-block;
    position: relative;
    background: #0e71b4;
    color: white;
    padding: 5px 10px;
}

#ListFullWidth .frresourceimg {
    width: 100%;
    margin-top: -40;
    display:;
    position:;
}

#ListFullWidth .frresourceimg img.playButton{
    position: absolute;
    left: 0px;
    width: 100%;
}

/*Ressource ListFullWidth Section End*/
/*Ressource TagList Section Begin*/

#TagList {
    display: flex;
    flex-wrap: wrap;
}

#TagList a {
    text-decoration: none;
}

#TagList .container {
    padding: 20px;
    border: 2px solid transparent; /* To avoid moving text when adding a border on hover */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#TagList .container:hover {
    border: 2px solid lightgrey; /* Top, left and right borders when hover */
    background-color: #f1f1f1;
}

#TagList .tagThumbnail {
    height: 200px;
}
/*Ressource TagList Section End*/

@media screen and (min-width: 768px) {
    #ListFullWidth a h4 {
        background: none;
        color: #0e71b4;
        padding: 0;
    }

    #ListFullWidth .frresourceimg {
        width: 50%;
        padding-left:10px;
        margin-top:0;
        float: right;
    }
    #ListFullWidth .frresourceimg img {
        
    }
    #ListFullWidth .frresourceimg img.playButton{
    width: 50%;
    right: 0px;
    left: unset;
    }
}