
/*Ressource ListFullWidth Section Begin*/

#ListFullWidth a {
    text-decoration: none;
}

#ListFullWidth .items {
    padding: 5px;
    border: 2px solid transparent; /* To avoid moving text when adding a border on hover */
    border-bottom: 1px solid #ddd; /* Horizontal separator */
    min-height: 100px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ListFullWidth .items + .items {
    /* Not for first element */
    border-top: 1px solid transparent;
}

#ListFullWidth .items:hover {
    border: 2px solid lightgrey; /* Top, left and right borders when hover */
    border-bottom: 1px solid lightgrey; /* Bottom border when hover, to be combined whith top border of following element */
    background-color: #f1f1f1;
}

#ListFullWidth .items + .items:hover, #ListFullWidth .items:hover + .items {
    /* Not for first element. Applied if element or previous element is hover. */
    border-top: 1px solid lightgrey;
}

#ListFullWidth .items:last-of-type:hover {
    /* Only for last element */
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 1px 0 lightgrey; /* To avoid moving text when adding a border on hover */
}

#ListFullWidth .item {
    position: relative;
    height: 100px;
    margin: 5px;  
}

#ListFullWidth .text {
    flex-basis: 75%
}

#ListFullWidth .image {
    flex-basis: 20%
}

#ListFullWidth .storyPreview {
    font-size: small;
}

#ListFullWidth .thumbnail, .playbutton {
    position: absolute;
    height: 100px;
}

/*Ressource ListFullWidth Section End*/

/*Ressource TagList Section Begin*/

#TagList a {
    text-decoration: none;
}

#TagList .container {
    padding: 20px;
    border: 2px solid transparent; /* To avoid moving text when adding a border on hover */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#TagList .container + .container {
    /* Not for first element */
    border-top: 1px solid transparent;
}

#TagList .container:hover {
    border: 2px solid lightgrey; /* Top, left and right borders when hover */
    border-bottom: 1px solid lightgrey; /* Bottom border when hover, to be combined whith top border of following element */
    background-color: #f1f1f1;
}

#TagList .container + .item:hover, #TagList .container:hover + .container {
    /* Not for first element. Applied if element or previous element is hover. */
    border-top: 1px solid lightgrey;
}

#TagList .container:last-of-type:hover {
    /* Only for last element */
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 1px 0 lightgrey; /* To avoid moving text when adding a border on hover */
}

#TagList .tagThumbnail {
    height: 200px;
}
/*Ressource TagList Section End*/

