
/* Add Vitamine T background image to the module */

.vitaminetic {
    position: relative;
    z-index: 0;
}

.vitaminetic:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background-image: url('./images/VitamineT.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: initial;
}