/*--------- IE overrides with .gif backgrounds style ----------*/
.logo_top_left{padding:0px; margin:0px; background:url(images/ie/logo_top_left.gif) no-repeat top left; height:23px;}
.logo_top_right{padding:0px; margin:0px; background:url(images/ie/logo_top_right.gif) no-repeat top right;}
.logo_left{padding:0px; background:url(images/ie/logo_left.gif) repeat-y top left;}
.logo_right{padding:0px; background:url(images/ie/logo_right.gif) repeat-y top right;}

.menu_left{padding:0px; margin:0px; background:url(images/ie/menu_left.gif) no-repeat top left;}
.menu_right{margin:0px; background:url(images/ie/menu_right.gif) no-repeat top right; }

.bread_left{padding:0px; margin:0px; background:url(images/ie/bread_left.gif) no-repeat top left;}
.bread_right{padding:0px;  background:url(images/ie/bread_right.gif) no-repeat top right;}

.left_bg{padding:0px; margin:0px; background:url(images/ie/left_bg.gif) repeat-y top left;}
.right_bg{padding:0px; margin:0px; background:url(images/ie/right_bg.gif) repeat-y top right;}

.bot_left{padding:0px; margin:0px; background:url(images/ie/bot_left.gif) no-repeat top left;}
.bot_right{padding:0px; margin:0px; background:url(images/ie/bot_right.gif) no-repeat top right; padding:0px 39px 0px 27px;}
.bot_bg{padding:0px; margin:0px; background:url(images/ie/bot_bg.gif) repeat-x top left; height:41px;}








































































































































































































































































































































































