@import url("/Portals/_default/Skins/AgapeBlue/start/jquery-ui-1.8.16.custom.css");
/*########## PortalCSS ################*/
/*Use this section to set the styles for the portal to match your skin */
.p {
	margin:0px;
	padding:0px;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-align: inherit;
	color: inherit;
	line-height: inherit;
	vertical-align: top;
	font-family:verdana;
}

div {
	
	font-family:verdana; 
	/*font-size:12px;*/
	margin:0px;
	padding: 0px;
	
}


h1, .AgapeH1{color: #026890;font-size:  36pt; font-family:  Verdana, Geneva, sans-serif; font-weight: bold ;border-bottom: solid 2px #026890;}
h2, .AgapeH2{color: #026890;font-size: 24pt; font-family:  Verdana, Geneva, sans-serif; font-weight: bold ;border-bottom: solid 2px #026890;}
h3, .AgapeH3{color: #026890;font-size: 18pt; font-family:  Verdana, Geneva, sans-serif; font-weight: bold ;}
h4, .AgapeH4{color: #026890;font-size: 12pt; font-family:  Verdana, Geneva, sans-serif; font-weight: bold ;}
h5, .AgapeH5{color: #026890;font-size: 10pt; font-family:  Verdana, Geneva, sans-serif; font-weight: bold ;}

.AgapeError
{
    color: Red;
    font-style: italic;
}
.Agape_Story_subtitle {
font-family: verdana;
font-size: 9pt;
font-weight: lighter;
font-style: italic;
color: 
gray;
}
.Agape_Story_picturebox {
margin: 0px 15px 15px 0px;
float: left;
display: inline;
width: 300px;
}

a:link,a:visited,a:active,a .AgapeLink  {color:#3E81B5; text-decoration:none; font-weight:normal; }
a:hover{color:#026890; text-decoration: underline;  }

.DataGrid_Container {margin-top:15px;}

.dnnGridItem
{
    text-align: left;   
}

.ui-widget-header.dnnGridHeader, .ui-widget-header.dnnGridFooter, .ui-widget-header.dnnGridHeader th{font-weight:bold; background-image: none; color: White;
                                               
                                                  }
.DataGrid_Header td, .NormalBold td{font-weight:bold; color: White;}

.acGridHeader{opacity: .5; border: 0;}





.plainButton {background:#aaa;background:-moz-linear-gradient(top, #F3F3F3 0%, #CFCFCF 100%);
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(100%,#CFCFCF));
			filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3F3F3', endColorstr='#CFCFCF',GradientType=0 );
			;padding:8px 20px;border:1px #999 solid;border-radius:3px;-moz-border-radius:3px;line-height:16px;height:16px;font-weight:bold;font-size:11px;min-width:65px;cursor:default; text-align: center;}































































































































































































































































































