.blue_top_left
{
	width: 16px;
	height: 17px ;
	margin: -1px ; 
	padding: 0;

}

.blue_top_middle 
{
	background-image: url(images/BlueTop.gif) ;	
	background-repeat:repeat-x ;
	max-height: 17px ;
	height: 17px ;
	padding: 0;
}

.blue_top_right 
{
	width:17px;
		height: 17px ;
	margin: -1px ; 
	padding: 0;
}

.blue_center_left
{
	
	
	border-style: none;
	border-width: 0px;
	background-image: url(images/BlueLeft.gif);
	background-repeat: repeat-y;
	
}

.blue_center_right 
{
	background-image: url(images/BlueRight.gif) ;	
	background-repeat:repeat-y;
	
	margin: -1px;
	border-style: none;
	border-width: 0px;
}

.blue_bottom_left
{
		padding: 0;
	margin: -1px ; 
}

.blue_bottom_middle
{
	background-image: url(images/BlueBottom.gif) ;	
	background-repeat: repeat-x ;
	
	
	
	
}
.BlueMainContent
{
		padding: 0;
}
.blue_bottom_right 
{
		padding: 0;
	margin: -1px ; 	
}

.BlueTitle .Head
{
	
	 color: #005179 ;
	 text-align: center ;
	 font-family: Verdana ;
	 font-size: 22pt ;
	 font-weight:  bold ;
	 width: 100% ;
	 
}































































































































































































































































