
.blue_stripe_top 
{
	background-image: url(images/BlueStripeTop.gif) ;	
	background-repeat: no-repeat  ;
	
	max-height: 40px ;
	height: 40px ;
	padding: 0 9px 0 5px;
}

.blue_stripe_bottom
{
	background-image: url(images/BlueStripeBottom.gif) ;	
	background-repeat:  no-repeat  ;
	max-height: 18px ;
	height: 18px ;
	
	
	
}

.BlueStripeMainContent
{
	background-image: url(images/BlueStripeMiddle.gif) ;	
	background-repeat:  repeat-y  ;
		padding: 0  9px 0 5px ;
}

.BlueTitle .Head
{
	
	 color: #005179 ;
	 text-align: center ;
	 font-family: Verdana ;
	 font-size: 18pt ;
	 font-weight:  bold ;
	 width: 100% ;
	 
}




















































































































































































































































