.brown_top_left
{
	width: 16px ;
height: 17px ;
	margin: -1px ; 
	padding: 0;
}

.brown_top_middle 
{
	background-image: url(images/BrownTop.gif) ;	
	background-repeat:repeat-x ;
max-height: 17px ;
	height: 17px ;
	padding: 0;
}

.brown_top_right 
{
	width:17px;
height: 17px ;
	margin: -1px ; 
	padding: 0;
}

.brown_center_left
{
	
	border-style: none;
	border-width: 0px;
	background-image: url(images/BrownLeft.gif);
	background-repeat: repeat-y;
	
}

.brown_center_right 
{
	background-image: url(images/BrownRight.gif) ;	
	background-repeat:repeat-y;
	
	margin: -1px ; 
	border-style: none;
	border-width: 0px;
}

.brown_bottom_left
{
	
		padding: 0;
	margin: -1px ;	
}

.brown_bottom_middle
{
	background-image: url(images/BrownBottom.gif) ;	
	background-repeat: repeat-x ;
	
	
	
	
}
.BrownMainContent
{
		padding: 0;
}
.brown_bottom_right 
{
	
		padding: 0;
	margin: -1px ;	
}

.BrownTitle .Head
{
	
	 color: #996600 ;
	 text-align: center ;
	 font-family: Verdana ;
	 font-size: 22pt ;
	 font-weight:  bold ;
	 width: 100% ;
	 
}































































































































































































































































