/* CSS Document */

.c_head{padding:8px 5px 0 5px; text-align:left;}

.c_content{clear:both;}

.c_contentpane{padding: 8px 5px 5px ; text-align:left;}

.c_footer {margin-bottom:20px;padding:8px 10px 8px 15px; text-align:right;}

.title{margin:0; float:left; white-space:nowrap;}
.title_vis{margin:0; float:right; text-align:right;}

/*---------- default style for head & normal -----------*/
.Head{font-weight:bold; font-size:14px;}

.Normal{color:#43494D;}

.Normal p{margin-top:0px;}







































































































































































































































































































































