
.green_stripe_top 
{
	background-image: url(images/GreenStripeTop.gif) ;	
	background-repeat: no-repeat  ;
	
	max-height: 40px ;
	height: 40px ;
	padding: 0 9px 0 5px;
}

.green_stripe_bottom
{
	background-image: url(images/GreenStripeBottom.gif) ;	
	background-repeat:  no-repeat  ;
	max-height: 18px ;
	height: 18px ;
	
	
	
}

.GreenStripeMainContent
{
	background-image: url(images/GreenStripeMiddle.gif) ;	
	background-repeat:  repeat-y  ;
		padding: 0  9px 0 5px ;
}

.GreenTitle .Head
{
	
	 color: #466629 ;
	 text-align: center ;
	 font-family: Verdana ;
	 font-size: 18pt ;
	 font-weight:  bold ;
	 width: 100% ;
	 
}





















































































































































































































































