

.green_top_left
{
	
	width: 16px ;
	margin: -1px ; 
	padding: 0;
	
}

.green_top_middle 
{
	background-image: url(images/GreenTop.gif) ;	
	background-repeat:repeat-x ;
	
	max-height: 17px ;
	height: 17px ;
	padding: 0;
}
.green_stripe_top 
{
	background-image: url(images/GreenStripeTop.gif) ;	
	background-repeat: no-repeat  ;
	
	max-height: 40px ;
	height: 40px ;
	padding: 0 9px 0 5px;
}
.green_top_right 
{
	
	width:17px;
	height: 17px;	
	margin: -1px ; 
	padding: 0;
}

.green_center_left
{
	
	margin: -1px;
	border-style: none;
	border-width: 0px;
	background-image: url(images/GreenLeft.gif);
	background-repeat: repeat-y;
	
}

.green_center_right 
{
	background-image: url(images/GreenRight.gif) ;	
	background-repeat:repeat-y;
	
	margin: -1px;
	border-style: none;
	border-width: 0px;
}

.green_bottom_left
{
	margin: -1px ; 
	padding: 0;
		
}

.green_bottom_middle
{
	background-image: url(images/GreenBottom.gif) ;	
	background-repeat: repeat-x ;
	
	
	
	
}
.green_stripe_bottom
{
	background-image: url(images/GreenStripeBottom.gif) ;	
	background-repeat:  no-repeat  ;
	max-height: 18px ;
	height: 18px ;
	
	
	
}
.GreenMainContent
{
		padding: 0;
}
.GreenStripeMainContent
{
	background-image: url(images/GreenStripeMiddle.gif) ;	
	background-repeat:  repeat-y  ;
		padding: 0  9px 0 5px ;
}
.green_bottom_right 
{
	
	margin: -1px ; 
	padding: 0;
}

.GreenTitle .Head
{
	
	 color: #466629 ;
	 text-align: center ;
	 font-family: Verdana ;
	 font-size: 22pt ;
	 font-weight:  bold ;
	 width: 100% ;
	 
}


























































































































































































































































