.plum_top_left
{
	
	width: 16px ;
	height: 17px ;
	margin: -1px ; 
	padding: 0;
}

.plum_top_middle 
{
	background-image: url(images/PlumTop.gif) ;	
	background-repeat:repeat-x ;
	
	max-height: 17px ;
	height: 17px ;
	padding: 0;
}

.plum_top_right 
{
	
	width:17px;
	height: 17px ;
	margin: -1px ; 
	padding: 0;
}

.plum_center_left
{
	
	
	border-style: none;
	border-width: 0px;
	background-image: url(images/PlumLeft.gif);
	background-repeat: repeat-y;
margin: -1px ; 
}

.plum_center_right 
{
	background-image: url(images/PlumRight.gif) ;	
	background-repeat:repeat-y;
	
	margin: -1px ; 
	border-style: none;
	border-width: 0px;
}

.plum_bottom_left
{
	
	padding: 0;
	margin: -1px ; 
	
}

.plum_bottom_middle
{
	background-image: url(images/PlumBottom.gif) ;	
	background-repeat: repeat-x ;
	
	
	
	
}
.PlumMainContent
{
		padding: 0;
}
.plum_bottom_right 
{
	
	
		padding: 0;
	margin: -1px ; 
}

.PlumTitle .Head
{
	
	 color: #660000 ;
	 text-align: center ;
	 font-family: Verdana ;
	 font-size: 22pt ;
	 font-weight:  bold ;
	 width: 100% ;
	 
}



































































































































































































































