
.red_stripe_top 
{
	background-image: url(images/RedStripeTop.gif) ;	
	background-repeat: no-repeat  ;
	
	max-height: 40px ;
	height: 40px ;
	padding: 0 9px 0 5px;
}

.red_stripe_bottom
{
	background-image: url(images/RedStripeBottom.gif) ;	
	background-repeat:  no-repeat  ;
	max-height: 18px ;
	height: 18px ;
	
	
	
}

.redStripeMainContent
{
	background-image: url(images/RedStripeMiddle.gif) ;	
	background-repeat:  repeat-y  ;
		padding: 0  9px 0 5px ;
}

.redTitle .Head
{
	
	 color: #660000 ;
	 text-align: center ;
	 font-family: Verdana ;
	 font-size: 18pt ;
	 font-weight:  bold ;
	 width: 100% ;
	 
}



















































































































































































































































