.turquoise_top_left
{
	width: 16px ;
	height: 17px ;
	margin: -1px ; 
	padding: 0;
}

.turquoise_top_middle 
{
	background-image: url(images/TurquoiseTop.gif) ;	
	background-repeat:repeat-x ;
	max-height: 17px ;
	height: 17px ;
	padding: 0;
}

.turquoise_top_right 
{
	width:17px;
	height: 17px ;
	margin: -1px ; 
	padding: 0;	
	
}

.turquoise_center_left
{
	
	
	border-style: none;
	border-width: 0px;
	background-image: url(images/TurquoiseLeft.gif);
	background-repeat: repeat-y;
	
}

.turquoise_center_right 
{
	background-image: url(images/TurquoiseRight.gif) ;	
	background-repeat:repeat-y;
	
	margin: -1px;
	border-style: none;
	border-width: 0px;
}

.turquoise_bottom_left
{
	padding: 0;
	margin: -1px ; 
}

.turquoise_bottom_middle
{
	background-image: url(images/TurquoiseBottom.gif) ;	
	background-repeat: repeat-x ;
	
	
	
	
}
.TurquoiseMainContent
{
		padding: 0;
}
.turquoise_bottom_right 
{
	

		padding: 0;
	margin: -1px ; 
}

.TurquoiseTitle .Head
{
	
	 color: #336666 ;
	 text-align: center ;
	 font-family: Verdana ;
	 font-size: 22pt ;
	 font-weight:  bold ;
	 width: 100% ;
	 
}






























































































































































































































































